.chosen {
    background-color: rgb(249, 210, 187) !important;
    color:#ef803d !important;
}

.border {
    border: 2px solid #67758D !important;
}

.right {
    background-color: #00C48C !important;
    color: white !important;
}

.wrong {
    background-color: #ff7272 !important;
    color:white !important;
}